<div class="row">
    <img style="height:32px;" class="img-fluid rounded-circle col-1" src="~/JamesProfile.jpg" />
    <a class="col-10 rounded-button" id="post-button" data-toggle="modal" data-target="#create-modal">
        What's on YOUR mind?
    </a>
</div>