@model IEnumerable<www.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">What's on YOUR mind?</a>
</p>
<table class="table">

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.Content)
            </td>
            </tr>
            @if(item.Content!= "<i>This message has been deleted</i>")
            {
            <tr>
            <td class="text-right text-sm-right"><small>
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </small>
</td>
        </tr>
            }
}
    </tbody>
</table>
