@model IEnumerable<www.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<script>
    function loadDelete(itemID) {
        $.get({
            url: "Posts/DeletePartial",
            data: { id: itemID },
            success: function (data, result) {
                console.log(data);
                $('#deleted-modal-content').html(data);
            }
        });
    }
</script>
<div class="row">
    <div  style="height:32px;" class="col-1">

    <img class="img-fluid rounded-circle" src="@ViewData["ProfilePic"]" />
    </div>
    <a class="col-10 rounded-button" id="post-button" data-toggle="modal" data-target="#create-modal">
        What's on YOUR mind?
    </a>
</div>
<br />
@foreach (var item in Model)
{
    <div class="card bg-light post row">
        <div class="card-body col-12">
            @Html.Partial("_Post", item)
        </div>
    </div>
    <br />

}
<partial name="_Create" />
<partial name="_Delete" />
